/**
* @name Skyrim4Ben
* @version Auto Update
* @description Skyrim Theme Made by Laurj787 
* @author Laurj787
* @invite PZdnCVD
* @Source https://github.com/codedotspectra/themes
* @website https://betterdiscord.app/theme/Neutron
*/
@import url("https://codedotspectra.github.io/themes/themes-cores/neutron8.css");
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light');
:root {
--themeColor1: #060B95FF;
--themeColor2: #060B95FF;
--customFont: 'Shadows Into Light';
--homeImage: url('https://i.imgur.com/8RfEpwA.png');
--homeImageSize: cover;
--backgroundColor: #0d0d0d;
--backgroundImage: url('https://i.imgur.com/4jxn2u9.jpeg');
--backgroundPosition: center;
--backgroundSize: cover;
--backgroundRepeat: no-repeat;
--backgroundBlur: 0px;
--backgroundOpacity: 0.9;
--HSL-server-icon-size: 26px;
--HSL-server-spacing: 8px;
--rs-small-spacing: 2px;
--rs-medium-spacing: 3px;
--rs-large-spacing: 4px;
--rs-small-width: 2px;
--rs-medium-width: 3px;
--rs-large-width: 4px;
--rs-avatar-shape: 50%;
--rs-online-color: #43b581;
--rs-idle-color: #faa61a;
--rs-dnd-color: #f04747;
--rs-offline-color: #636b75;
--rs-streaming-color: #643da7;
--rs-invisible-color: #747f8d;
--rs-phone-visible: block;
}
